In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cellData = pd.read_csv("../../david_data/cellData.csv")

In [7]:
cellData.head()

,SampleID,cellLabelInImage,cellSize,C,Na,Si,P,Ca,Fe,dsDNA,...,MPO,Keratin6,HLA_Class_1,Ta,Au,tumorYN,tumorCluster,Group,immuneCluster,immuneGroup
0,1,2,146,0,-0.59061,0.875220,-2.57650,-0.806060,-0.2344,-1.308000,...,-0.13903,-0.41883,-0.53738,2.48110,2.32660,1,0,6,0,0
1,1,3,102,0,-0.49870,0.017464,-1.22490,-0.501520,-1.3412,0.522570,...,-0.13903,-0.52769,-0.62060,2.30430,2.18710,0,0,2,46,4
2,1,4,43,0,-1.48730,-0.630440,-1.91070,-1.228000,-1.3937,-1.782200,...,-0.13903,0.18774,-1.75050,1.39330,1.47820,1,0,6,0,0
3,1,5,211,0,-1.00530,-0.532270,-1.74300,-0.944850,-1.0996,-0.057906,...,-0.13903,-0.30976,-0.52445,1.88680,1.58620,1,0,6,0,0
4,1,6,177,0,0.15803,-0.710290,0.51737,-0.096251,-1.0526,0.355020,...,-0.13903,-0.52769,-0.99773,-0.51027,-0.49627,0,0,2,75,6

In [7]:
cellData[(cellData['Group'] == 3) & (cellData['immuneGroup'] == 0)]

,SampleID,cellLabelInImage,cellSize,C,Na,Si,P,Ca,Fe,dsDNA,...,MPO,Keratin6,HLA_Class_1,Ta,Au,tumorYN,tumorCluster,Group,immuneCluster,immuneGroup
55,1,64,551,0,-0.529630,-0.69192,-0.886950,-0.53049,-0.53586,0.40454,...,-0.13903,-0.52769,-0.091767,0.31533,0.31501,1,4,3,0,0
85,1,98,457,0,-1.438900,-0.65341,-1.878000,-1.57260,-1.42430,-1.50280,...,-0.13903,-0.52769,-0.824120,0.65742,0.55999,1,29,3,0,0
87,1,100,430,0,-0.746560,-0.73146,-0.781280,-0.77808,0.11710,0.07685,...,-0.13903,-0.52769,-0.407420,-0.68781,-0.89544,1,29,3,0,0
609,1,733,141,0,-1.566500,-0.88889,-2.227500,-1.53880,-1.41300,-2.22420,...,-0.13903,-0.52769,-0.066916,-0.45900,-0.48014,1,29,3,0,0
613,1,738,404,0,0.021654,-0.64330,0.041203,-0.25481,-0.90523,0.44424,...,-0.13903,-0.52769,-0.558610,0.22052,0.25395,1,29,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197524,41,4934,483,0,0.091874,0.84049,-1.037600,0.72854,1.17030,-0.32765,...,-0.13903,-0.52769,0.000762,-0.34196,0.17697,1,4,3,0,0
197544,41,4955,343,0,-0.307560,-0.22466,-1.016600,1.00480,-0.50623,-0.96697,...,-0.13903,-0.52769,0.329050,1.11760,1.19850,1,4,3,0,0
197973,42,367,463,0,3.853000,4.81220,-1.176700,2.25390,1.95520,0.86516,...,-0.13903,-0.52769,-1.442800,1.14780,1.20990,1,4,3,0,0
198056,42,461,401,0,3.602900,3.50570,-1.277000,1.30350,1.14290,0.22138,...,-0.13903,-0.52769,-1.220700,1.83550,1.53760,1,4,3,0,0
200426,43,1597,295,0,4.158600,5.22930,-0.274450,2.48400,1.66490,-0.11511,...,-0.13903,-0.52769,-1.748400,1.83070,1.78180,1,3,3,0,0

In [17]:
img = plt.imread("../../david_data/p1_labeledcellData.tiff")
img

array([[1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1]], dtype=uint16)

In [2]:
cellData = pd.read_csv("../../nature_cancer_dataset/single_cell_data.csv")

In [5]:
cellData.head()

,file_id,metabricId,core_id,ImageNumber,ObjectNumber,HH3_total,CK19,CK8_18,Twist,CD68,...,DNA1,DNA2,H3K27me3,CK5,Fibronectin,Location_Center_X,Location_Center_Y,SOM_nodes,pg_cluster,description
0,MB0000_1_527,MB-0000,1,527,1,1.058000,0.000000,0.000000,0.000000,0.618000,...,17.330166,17.718166,0.903333,0.344000,35.934502,161.83333,6.000000,6,24,Fibroblasts
1,MB0000_1_527,MB-0000,1,527,2,0.889243,0.166252,0.166487,0.109148,0.071443,...,28.806173,52.767433,0.781896,0.111391,16.294783,177.30435,15.539130,6,24,Fibroblasts
2,MB0000_1_527,MB-0000,1,527,3,0.861557,0.150873,0.099861,0.064506,0.025316,...,17.687202,29.113506,0.872304,0.542215,16.348177,293.51898,19.886076,6,24,Fibroblasts
3,MB0000_1_527,MB-0000,1,527,4,1.746239,0.069159,0.043478,0.021739,0.623623,...,29.021986,54.447716,0.664442,0.172638,9.053551,165.04347,22.210144,4,20,Fibroblasts CD68+
4,MB0000_1_527,MB-0000,1,527,5,0.979274,0.144429,0.125500,0.067714,0.028940,...,21.988190,43.471428,0.446310,0.057833,9.991821,108.88095,28.523809,6,24,Fibroblasts